<ion-header>
  <ion-navbar>
    <ion-title> 論壇 | FORUM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding c-bg-EDEDED padding-bottom>
  <ion-row>
    <ion-col no-padding>
      <ion-card no-margin c-width-100>
        <ion-item padding-horizontal>
          <ion-label no-margin>
            <p border-bottom-f2 no-margin padding-bottom-2px>
              <span color-1d1d26 c-font-bold left>{{forum_details.account}}</span>
              <span right color-grey>{{forum_details.postTime}}</span>
            </p>
            <!-- <p color-1d1d26 c-font-bold left>{{forum_details.account}}</p>
            <p right color-grey>{{forum_details.postTime}}</p> -->
          </ion-label>
        </ion-item>
        <ion-card-content>
          <p comment-text font-size-20 color-1d1d26>{{forum_details.content}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col text-center no-padding margin-5 border-right-f2>
            <button class="like-cmmnt-txt" ion-button icon-left clear small *ngIf="!forum_details.is_liked" (click)="likePostFunction(forum_details)">
              <ion-icon name="ios-thumbs-up-outline"></ion-icon>
              <div>{{forum_details.totalLikes}}</div>
            </button>
            <button color-grey ion-button text-wrap icon-left clear small *ngIf="forum_details.is_liked" (click)="likePostFunction1()">
              <ion-icon name="ios-thumbs-up"></ion-icon>
              <div>{{forum_details.totalLikes}}</div>
            </button>
          </ion-col>
          <ion-col text-center no-padding margin-5>
            <button class="like-cmmnt-txt" ion-button icon-left clear small (click)="openReportPage()">
              <ion-icon name="ios-flag-outline"></ion-icon>
              <div c-font-w-normal>
                <div>投訴 |</div>
                <div>Report</div>
              </div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-item-group>
    <ion-item-divider no-lines color="light">
      <ion-label no-margin>
        <p>Comments</p>
      </ion-label>
    </ion-item-divider>
  </ion-item-group>
  <ion-row margin-bottom padding-bottom>
    <ion-col col-12 no-padding margin-bottom *ngFor="let comment_details of forum_details.comments">
      <ion-card no-margin c-box-shadow-none border-bottom-ee c-width-100>
        <ion-item padding-horizontal>
          <ion-label no-margin>
            <!-- <p left color-1d1d26 c-font-bold>{{comment_details.account}}</p>
            <p right color-grey>{{comment_details.commentedTime}}</p> -->
            <p border-bottom-f2 no-margin padding-bottom-2px>
              <span color-1d1d26 c-font-bold left>{{comment_details.account}}</span>
              <span right color-grey>{{comment_details.commentedTime}}</span>
            </p>
          </ion-label>
        </ion-item>
        <ion-card-content>
          <p comment-text font-size-16 color-1d1d26>{{comment_details.content}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col text-center no-padding margin-5 border-right-f2>
            <button class="like-cmmnt-txt" ion-button icon-left clear small *ngIf="!comment_details.is_liked" (click)="likeCommentFunction(comment_details)">
              <ion-icon name="ios-thumbs-up-outline"></ion-icon>
              <div>{{comment_details.likesForComment}}</div>
            </button>
            <button color-grey ion-button text-wrap icon-left clear small *ngIf="comment_details.is_liked" (click)="likeCommentFunction1()">
              <ion-icon name="ios-thumbs-up"></ion-icon>
              <div>{{comment_details.likesForComment}}</div>
            </button>
          </ion-col>
          <ion-col text-center no-padding margin-5>
            <button class="like-cmmnt-txt" ion-button icon-left clear small (click)="openCommentReportPage(comment_details)">
              <ion-icon name="ios-flag-outline"></ion-icon>
              <div c-font-w-normal>
                <div>投訴 |</div>
                <div>Report</div>
              </div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="custom-footer" white-background>
    <ion-col no-padding col-10 col-sm-11>
      <ion-textarea text-area-style placeholder="Add comment..." [(ngModel)]="commentText"></ion-textarea>
    </ion-col>
    <ion-col no-padding col-2 text-center col-sm-1>
      <ion-icon send-button-ic name="md-send" (click)="addCommentFunction(commentText, forum_details)"></ion-icon>
    </ion-col>
  </ion-row> -->
</ion-content>
<ion-footer style="position:fixed !important;">
  <!-- <ion-item no-padding> -->
  <ion-row white-background>
    <ion-col no-padding col-10 col-sm-11>
      <ion-textarea text-area-style placeholder="Add comment..." [(ngModel)]="commentText"></ion-textarea>
    </ion-col>
    <ion-col no-padding col-2 text-center col-sm-1>
      <svg width="45" height="50" *ngIf="showSpinner" class="small-spinner" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"
        stroke="#000000">
        <g fill="none" fill-rule="evenodd" stroke-width="2">
          <circle cx="22" cy="22" r="1">
            <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1"
              repeatCount="indefinite" />
            <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1"
              repeatCount="indefinite" />
          </circle>
          <circle cx="22" cy="22" r="1">
            <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1"
              repeatCount="indefinite" />
            <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1"
              repeatCount="indefinite" />
          </circle>
        </g>
      </svg>
      <ion-icon send-button-ic name="md-send" *ngIf="!showSpinner" (click)="addCommentFunction(commentText, forum_details)"></ion-icon>
    </ion-col>
  </ion-row>
  <!-- </ion-item> -->
</ion-footer>