<ion-header>
  <ion-navbar header-color>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>Surveys</ion-title>
  </ion-navbar>
</ion-header>

<ion-content white-background>
  <ion-row margin-bottom>
    <ion-col col-12 *ngFor="let survey_details of survey_list">
      <ion-row padding>
        <ion-col col-12 no-padding>
          <p survey-desc>Survey Title: {{survey_details.survey_title}}</p>
          <p survey-desc>Complete By:</p>
        </ion-col>
      </ion-row>
      <ion-list>
        <ul no-margin no-padding class="collapsible">
          <li no-margin *ngFor="let group of survey_details.group_list;">
            <ion-card>
              <!-- Expandable Centered with header Header-->
              <div class="collapsible-header" no-margin no-padding (click)="toggleGroup(group)">
                <ion-item no-padding text-center transparent no-lines text-center>
                  <h2 text-center item-title>{{group.group_title}}</h2>
                  <!-- <ion-checkbox></ion-checkbox> -->
                </ion-item>
              </div>
              <!-- Expandable Centered with header Body -->
              <div class="item-accordion" [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">
                <ion-card no-margin c-width-100 *ngFor="let option_details of group.option_list;">
                  <ion-item>
                    <ion-label margin-vertical item-title>
                      <p under-line>Option 1</p>
                      <p>Cost : {{option_details.cost}}</p>
                      <p>Description : {{option_details.description}}</p>
                    </ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                </ion-card>
                <!-- <ion-card no-margin c-width-100>
                  <ion-item>
                    <ion-label margin-vertical item-title>
                      <p under-line>Option 2</p>
                      <p>Cost : </p>
                      <p>Description : </p>
                    </ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                </ion-card> -->
              </div>
            </ion-card>
          </li>
        </ul>
      </ion-list>
      <ion-row margin-vertical>
        <ion-col text-center margin-top padding-horizontal>
          <button ion-button button-clear-outline round outline class="next-button" color="mytheme" (click)="submitData()">確定 | Submit</button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>