page-surveys {
    [survey-desc] {
        font-size: 13px;
        margin: 0;
    }
    ul>li:last-child ion-item:before {
        border-bottom: 1px solid transparent !important;
    }
    li {
        list-style: none;
    }
    ion-list-header {
        &[background-size] {
            height: 200px;
            width: 100%;
        }
        [item-title] {
            z-index: 5;
            position: relative;
        }
    }
    .item-accordion {
        height: 0;
        /* @include gradient-accent ($color-1, $color-2); */
        display: block !important;
        -webkit-transition: all 450ms;
        transition: all 450ms;
        overflow: hidden;
        &.active {
            -webkit-transition: all 450ms;
            transition: all 450ms;
            height: 293px;
            max-height: 293px;
            overflow-y: auto;
        }
    }
    .collapsible-header {
        background-color: #161616;
        .item-md.item-block .item-inner {
            padding-right: 0 !important;
        }
        ion-icon {
            display: block;
            text-align: center;
        }
    }
    [under-line] {
        text-decoration: underline;
    }
    .item p {
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .next-button {
        width: 70%;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .check-mark-style {
        color: #69BB7B;
    }
    .button-outline-ios.activated {
        color: #ffffff !important;
        background-color: #1d1d26 !important;
    }
    .item ion-icon[item-left]+.item-inner,
    .item ion-icon[item-left]+.item-input,
    .item ion-icon[item-start]+.item-inner,
    .item ion-icon[item-start]+.item-input {
        margin: 0 !important;
    }
}