<ion-header>
  <ion-navbar header-color>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>新問卷 | New Surveys</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row margin-bottom>
    <ion-col col-12>
      <ul no-margin no-padding class="collapsible">
        <li no-margin *ngFor="let survey_details of new_survey_list;">
          <ion-card>
            <!-- Expandable Centered with header Header-->
            <div class="collapsible-header" no-margin no-padding (click)="viewSurveyDetails(survey_details)">
              <ion-item no-padding padding-vertical text-center text-wrap transparent no-lines text-center>
                <ion-icon name="md-checkmark" class="check-mark-style" style="visibility:hidden !important;" item-start>
                </ion-icon>
                <h2 text-center color-f2f2f2 class="survey-title-text">{{survey_details.titleChn}} | {{survey_details.title}}</h2>
                <h2 text-center color-979797 card-subtitle>Complete By: {{survey_details.effectiveTo}}</h2>
                <ion-icon name="md-checkmark" class="check-mark-style" item-end *ngIf="survey_details.is_completed">
                </ion-icon>
                <ion-icon name="md-checkmark" class="check-mark-style" style="visibility:hidden !important;" item-end *ngIf="!survey_details.is_completed">
                </ion-icon>
              </ion-item>
            </div>
          </ion-card>
        </li>
      </ul>
    </ion-col>
  </ion-row>
</ion-content>