<ion-header>
  <ion-navbar header-color>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left> 論壇 | FORUM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding c-bg-EDEDED>
  <ion-row>
    <ion-col col-12 no-padding>
      <ion-card (click)="openWritePostPage()">
        <ion-card-content>
          <ion-item no-padding>
            <ion-icon item-start no-margin name="ios-create-outline"></ion-icon>
            <ion-label no-margin>
              <p no-margin color-grey>您最近在想什麼 ？</p>
              <p no-margin color-grey>Post something here :)</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row margin-bottom>
    <ion-col col-12 no-padding *ngFor="let forum_details of forumsList; let i=index;">
      <ion-card>
        <ion-item (click)="openForumDetailsPage(forum_details)">
          <ion-label margin-bottom>
            <p border-bottom-f2 no-margin padding-bottom-2px>
              <span color-1d1d26 c-font-bold left>{{forum_details.account}}</span>
              <span right color-grey>{{forum_details.postTime}}</span>
            </p>
          </ion-label>
        </ion-item>
        <ion-card-content (click)="openForumDetailsPage(forum_details)">
          <p font-size-18 color-1d1d26>{{forum_details.content}}
          </p>
        </ion-card-content>
        <ion-row>
          <ion-col text-center col-4>
            <div>
              <button color-grey ion-button text-wrap icon-left clear small *ngIf="!forum_details.is_liked" (click)="likePostFunction(forum_details)">
                <ion-icon name="ios-thumbs-up-outline"></ion-icon>
                <div>{{forum_details.totalLikes}}</div>
              </button>
              <button color-grey ion-button text-wrap icon-left clear small *ngIf="forum_details.is_liked" (click)="likePostFunction1()">
                <ion-icon name="ios-thumbs-up"></ion-icon>
                <div>{{forum_details.totalLikes}}</div>
              </button>
            </div>
          </ion-col>
          <ion-col text-center col-4>
            <div border-left-f2>
              <button color-grey ion-button text-wrap icon-left clear small (click)="openForumDetailsPage(forum_details)">
                <ion-icon name="ios-text-outline"></ion-icon>
                <div>{{forum_details.totalComments}}</div>
              </button>
            </div>
          </ion-col>
          <ion-col text-center col-4>
            <div border-left-f2>
              <button color-grey ion-button text-wrap icon-left clear small (click)="openReportPage(forum_details)">
                <ion-icon name="ios-flag-outline"></ion-icon>
                <div>投訴 | Report</div>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>