page-home {
    ion-content {
        background-color: #000000 !important;
    }
    ion-col {
        position: relative;
        [button-clear] {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    img {
        max-width: 120px;
        max-height: 130px;
        height: 130px;
        display: block;
        margin: 35px auto 20px;
    }
    .item-inner {
        border-bottom-color: #f2f2f2 !important;
        box-shadow: none !important;
    }
    [button-clear-outline] {
        margin-top: 10%;
        width: 70%;
        border-color: #f2f2f2 !important;
        color: #f2f2f2 !important;
    }
    [social] {
        margin: 20px auto 0;
        overflow: hidden;
        button {
            margin: 1%;
            width: 48.5%;
            display: block;
            float: left;
        }
        >button:nth-child(2n) {
            margin-right: 0;
        }
    }
    .create-acc {
        color: #f2f2f2;
    }
    .bottom-div {
        position: absolute;
        bottom: 7%;
        width: 100%;
    }
    .login-button {
        margin-bottom: 10px;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .item-input .label,
    .item-select .label {
        color: #f2f2f2 !important;
    }
    .item.item-input.input-has-focus .item-inner {
        border-bottom-color: #f2f2f2 !important;
        border-bottom-width: 2px !important;
        box-shadow: none !important;
    }
    .item-input ion-input {
        color: #f2f2f2 !important;
    }
    .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #f2f2f2 !important;
    }
    .button-outline-ios.activated {
        color: #1d1d26 !important;
        background-color: #f2f2f2 !important;
    }
}