page-home {
    ion-col {
        position: relative;
        [button-clear] {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    img {
        max-width: 120px;
        max-height: 120px;
        display: block;
        margin: 35px auto 20px;
    }
    .item-inner {
        border-bottom-color: theme-colors('mainColors', 'primary') !important;
        box-shadow: none !important;
    }
    [button-clear-outline] {
        margin-top: 10%;
        width: 70%;
    }
    [social] {
        margin: 20px auto 0;
        overflow: hidden;
        button {
            margin: 1%;
            width: 48.5%;
            display: block;
            float: left;
        }
        >button:nth-child(2n) {
            margin-right: 0;
        }
    }
    .create-acc {
        color: #0d96d2;
    }
    .bottom-div {
        position: absolute;
        bottom: 7%;
        width: 100%;
    }
    .login-button {
        margin-bottom: 10px;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}