page-past-meetings {
    [card-image] {
        position: relative;
        @include darkening-blend-mode;
        &::before {
            z-index: 3;
            background: #161616 !important;
        }
        img {
            width: 100% !important;
            visibility: hidden;
        }
        [card-title-div] {
            position: absolute;
            /* left: 16px;
            bottom: 20px; */
            top: 36%;
            width: 90%;
            left: 5%;
            z-index: 999;
        }
        [card-title] {
            color: #f2f2f2 !important;
            z-index: 999;
        }
    }
    .card-content {
        padding: 13px 10px;
    }
    [card-body-text] {
        letter-spacing: 0.5px;
    }
    .footer-card-txt {
        letter-spacing: 0;
        font-weight: 600 !important;
    }
    .time-img-div {
        width: 20px;
        vertical-align: middle;
    }
    .time-text-div {
        width: calc(100% - 26px);
    }
}