// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.header-background-image {
    background-image: url('../assets/images/background/16.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
    @include darkening-blend-mode;
    img {
        margin: auto;
        height: 100px;
        width: 94px;
        display: block;
        position: absolute;
        top: 0;
        z-index: 9;
        left: 0;
        right: 0;
        bottom: 0;
    }
    [item-title] {
        color: theme-colors('textColors', 'accent-first') !important;
        position: relative;
        z-index: 9;
    }
} // Settings Main  Menu
[main-menu] {
    padding-left: 30px;
    .item-inner {
        margin-left: 0 !important;
    }
    [icon-small] {
        margin-top: 18px !important;
    }
} // Settings Submenu
[submenu] {
    ion-label {
        padding-left: 30px !important;
    }
}

.toolbar .toolbar-background {
    background: #00bee4;
    background: linear-gradient(to left, #00bee4 0, #0091d2 100%);
}

.toolbar .toolbar-title {
    color: #ffffff;
}

.bar-buttons {
    color: #ffffff;
}

img {
    image-rendering: -webkit-optimize-contrast;
}

.button-outline-ios.activated {
    color: #ffffff !important;
}

.label[stacked],
.label[floating] {
    margin-left: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.p-l-r-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.p-t-b-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.action-sheet-ios .action-sheet-button {
    color: #0090d0;
}

.action-sheet-md .action-sheet-button {
    color: #0090d0;
}

.tabs .tab-button[aria-selected=true] .tab-button-icon {
    color: #ffffff;
}

.tabs .tab-button[aria-selected=true] .tab-button-text {
    color: #ffffff;
}

.tabs .tab-button-icon {
    color: rgba(60, 60, 60, 0.7);
}

.tab-button-text {
    color: rgba(60, 60, 60, 0.7);
}

[c-width-100] {
    width: 100%;
}

[c-font-bold] {
    font-weight: bold !important;
}

.main-view {
    background: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
}

.modal_content {
    position: absolute;
    top: calc(38% - (50%/2));
    left: 0;
    right: 0;
    width: 90%;
    height: 75%;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background: #ffffff;
    /* background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%); */
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.modal_inner_content {
    max-height: 88%;
    height: 88%;
    overflow: auto;
}

signature-pad {
    canvas {
        height: 100%;
        width: 100%;
    }
}

[border-bottom] {
    border-bottom: 1px solid #000000;
}