// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.header-background-image {
    background-image: url('../assets/images/background/16.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
    @include darkening-blend-mode;
    img {
        margin: auto;
        height: 100px;
        width: 94px;
        display: block;
        position: absolute;
        top: 0;
        z-index: 9;
        left: 0;
        right: 0;
        bottom: 0;
    }
    [item-title] {
        color: theme-colors('textColors', 'accent-first') !important;
        position: relative;
        z-index: 9;
    }
} // Settings Main  Menu
[main-menu] {
    padding-left: 30px;
    .item-inner {
        margin-left: 0 !important;
    }
    [icon-small] {
        margin-top: 18px !important;
    }
} // Settings Submenu
[submenu] {
    ion-label {
        padding-left: 30px !important;
    }
}

ion-label {
    a {
        color: #488aff !important;
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
    }
}

/* .toolbar .toolbar-background {
    background: #00bee4;
    background: linear-gradient(to left, #00bee4 0, #0091d2 100%);
} */

.toolbar .toolbar-title {
    color: #ffffff;
}

.bar-buttons {
    color: #ffffff;
}

img {
    image-rendering: -webkit-optimize-contrast;
}

.label[stacked],
.label[floating] {
    margin-left: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.p-l-r-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.p-t-b-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.action-sheet-ios .action-sheet-button {
    color: #000000;
}

.action-sheet-md .action-sheet-button {
    color: #000000;
}

.tabs .tab-button[aria-selected=true] .tab-button-icon {
    color: #ffffff;
}

.tabs .tab-button[aria-selected=true] .tab-button-text {
    color: #ffffff;
}

.tabs .tab-button-icon {
    color: rgba(255, 255, 255, 0.7);
}

.tab-button-text {
    color: rgba(255, 255, 255, 0.7);
}

[c-width-100] {
    width: 100%;
}

[c-font-bold] {
    font-weight: bold !important;
}

.main-view {
    background: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
}

.modal_content {
    position: absolute;
    top: calc(38% - (50%/2));
    left: 0;
    right: 0;
    width: 90%;
    height: 75%;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background: #ffffff;
    /* background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%); */
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.modal_inner_content {
    max-height: 86%;
    height: 86%;
    overflow: auto;
}

signature-pad {
    canvas {
        height: 100%;
        width: 100%;
    }
}

[border-bottom] {
    border-bottom: 1px solid #000000;
}

[border-top-e7] {
    border-top: 1px solid #e7e7e7 !important;
}

[padding-5px] {
    padding: 5px;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.close-button {
    font-size: 20px;
    padding: 3px;
    background: #000000;
    color: #ffffff;
    border-radius: 26px;
    position: absolute;
    top: 0;
    right: 0;
}

.tab-button-text {
    white-space: pre-wrap !important;
    min-height: 30px !important;
    word-wrap: initial !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text {
    transition: none !important;
    transform: none !important
}

[c-display-inline-block] {
    display: inline-block;
}

.login-button {
    margin-bottom: 10px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.radio-ios-mytheme {
    color: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
}

.radio-ios .radio-checked {
    border-color: #ffffff;
    background: #000000;
}

.radio-ios .radio-icon {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
}

.radio-ios{
    border: 1px solid #000000;
}

.radio-ios .radio-checked .radio-inner {
    left: 8px;
    top: 3px;
    background: #000000;
    border-color: #ffffff;
}

.radio-md .radio-checked {
    border-color: #000000;
}

.radio-md .radio-icon{
    border-color: #000000;
}

.loading-wrapper {
    text-align: center;
    border-radius: 0px !important;
    max-width: 100% !important;
    height: 100%;
    width: 100%;
    max-height: 100% !important;
    color: rgba(0, 0, 0, 0.5);
    background: #fafafa;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    padding: 24px;
}

.loading-content {
    width: 100% !important;
}

.toolbar .toolbar-background {
    background: #000000 !important;
}

[card-content]::before{
    background: rgba(0, 0, 0, 0.8) !important;
}

.header-background-image::before{
    background: rgba(0, 0, 0, 0.8) !important;
}

.tabs .tabbar{
    background: #000000 !important;
}

[icon-small]{
    color: #000000 !important;
}

[card-image]::before{
    background: rgba(0, 0, 0, 0.8) !important;
}

[background-size]::before{
    background: rgba(0, 0, 0, 0.8) !important;
}

[header-bcg] {
    background-color: #000000 !important;
}

[button-clear-outline] {
    color: #000000 !important;
    border: 1px solid #000000 !important;
}

[item-color-fff]{
    color: #ffffff !important;
}

[item-color-000]{
    color: #000000 !important;
}