// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* @font-face {
    font-family: 'SFRegular' !important;
    font-style: normal;
    src: url('../assets/fontello/SF-Pro-Text-Regular.ttf') format('truetype');
} */

/* @font-face {
    font-family: 'SFSemibold' !important;
    font-style: normal;
    src: url('../assets/fontello/SF-Pro-Text-Semibold.ttf') format('truetype');
} */

.home-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
}

.v-center-grid {
    height: 100%;
    justify-content: center;
}

[v-align-center] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ion-page {
    position: fixed !important;
}

.header-background-image {
    /* background-image: url('../assets/images/background/16.jpg'); */
    height: 200px;
    background-size: cover;
    background-position: center;
    background: #000000 !important;
    @include darkening-blend-mode;
    img {
        margin: auto;
        margin: auto;
        height: 100px;
        width: 94px;
        display: block;
        image-rendering: unset !important;
        position: absolute;
        top: 0;
        z-index: 9;
        left: 0;
        right: 0;
        bottom: 0;
    }
    [item-title] {
        color: theme-colors('textColors', 'accent-first') !important;
        position: relative;
        z-index: 9;
    }
} // Settings Main  Menu
.header-background-image::before {
    background: #161616 !important;
}

[main-menu] {
    padding-left: 30px;
    .item-inner {
        margin-left: 0 !important;
    }
    [icon-small] {
        margin-top: 18px !important;
    }
} // Settings Submenu
[submenu] {
    ion-label {
        padding-left: 30px !important;
    }
}

ion-label {
    a {
        color: #488aff !important;
        font-size: 16px;
        display: block;
        word-break: break-all;
        margin-bottom: 5px;
    }
}


/* .toolbar .toolbar-background {
    background: #00bee4;
    background: linear-gradient(to left, #00bee4 0, #0091d2 100%);
} */

.toolbar .toolbar-title {
    color: #f2f2f2;
}

.bar-buttons {
    color: #ffffff;
}


/* img {
    image-rendering: -webkit-optimize-contrast;
} */

.label[stacked],
.label[floating] {
    margin-left: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.p-l-r-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.p-t-b-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.action-sheet-ios .action-sheet-button {
    color: #000000;
}

.action-sheet-md .action-sheet-button {
    color: #000000;
}

.tabs .tab-button[aria-selected=true] .tab-button-icon {
    color: #f2f2f2;
}

.tabs .tab-button[aria-selected=true] .tab-button-text {
    color: #f2f2f2;
}

.tabs .tab-button-icon {
    color: rgba(255, 255, 255, 0.7);
}

.tab-button-text {
    color: rgba(255, 255, 255, 0.7);
}

[c-width-100] {
    width: 100%;
}

[c-font-bold] {
    font-weight: bold !important;
}

[c-font-w-600] {
    font-weight: 600 !important;
}

[c-font-w-normal] {
    font-weight: normal !important;
}

.main-view {
    background: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
}

.modal_content {
    position: absolute;
    top: calc(38% - (50%/2));
    left: 0;
    right: 0;
    width: 90%;
    height: 75%;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    padding: 10px;
    color: #1d1d26 !important;
    background: #f7f7f7;
    /* background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%); */
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.modal_inner_content {
    max-height: 86%;
    height: 86%;
    overflow: auto;
}

signature-pad {
    canvas {
        height: 100%;
        width: 100%;
    }
}

[border-bottom] {
    border-bottom: 1px solid #000000;
}

[border-top-e7] {
    border-top: 1px solid #e7e7e7 !important;
}

[border-bottom-f2] {
    border-bottom: 1px solid #f2f2f2 !important;
}

[padding-bottom-2px] {
    padding-bottom: 2px !important;
}

[padding-5px] {
    padding: 5px;
}

.margin-top-10 {
    margin-top: 10px !important;
}

[margin-5] {
    margin: 5px !important;
}

[border-left-f2] {
    border-left: 1px solid #f2f2f2 !important;
}

[border-right-f2] {
    border-right: 1px solid #f2f2f2 !important;
}

.close-button {
    font-size: 20px;
    padding: 3px 2px;
    background: #1d1d26;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.tab-button-text {
    white-space: pre-wrap !important;
    min-height: 30px !important;
    word-wrap: initial !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text {
    transition: none !important;
    transform: none !important
}

[c-display-inline-block] {
    display: inline-block;
}

.login-button {
    margin-bottom: 10px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.radio-ios-mytheme {
    color: #1d1d26;
    border: 1px solid #1d1d26;
    border-radius: 3px;
}

.radio-ios .radio-checked {
    border-color: #ffffff;
    background: #1d1d26;
}

.radio-ios .radio-icon {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
}

.radio-ios {
    border: 1px solid #1d1d26;
}

.radio-ios .radio-checked .radio-inner {
    left: 8px;
    top: 3px;
    background: #1d1d26;
    border-color: #ffffff;
}

.radio-md .radio-checked {
    border-color: #1d1d26;
}

.radio-md .radio-icon {
    border-color: #1d1d26;
}

.loading-wrapper {
    text-align: center;
    border-radius: 0px !important;
    max-width: 100% !important;
    height: 100%;
    width: 100%;
    /* height: 83%; */
    /* margin-bottom: 4%; */
    max-height: 100% !important;
    color: rgba(0, 0, 0, 0.5);
    background: #fafafa;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    padding: 24px;
}

.loading-content {
    width: 100% !important;
}

.toolbar .toolbar-background {
    background: #000000 !important;
}

[card-content]::before {
    background: rgba(0, 0, 0, 0.8) !important;
}

.header-background-image::before {
    background: rgba(0, 0, 0, 0.8) !important;
}

.tabs .tabbar {
    background: #000000 !important;
}

[icon-small] {
    color: #1d1d26 !important;
}

[card-image]::before {
    background: rgba(0, 0, 0, 0.8) !important;
}

[background-size]::before {
    background: rgba(0, 0, 0, 0.8) !important;
}

[header-bcg] {
    background-color: #000000 !important;
}

[button-clear-outline] {
    color: #1d1d26 !important;
    border: 1px solid #1d1d26 !important;
}

[item-color-fff] {
    color: #ffffff !important;
}

[item-color-000] {
    color: #1d1d26 !important;
}

[color-grey] {
    color: grey !important;
}

[color-1d1d26] {
    color: #1d1d26 !important;
}

[color-979797] {
    color: #979797 !important;
}

[color-f2f2f2] {
    color: #f2f2f2 !important
}

[font-size-16] {
    font-size: 16px !important;
}

[font-size-18] {
    font-size: 18px !important;
}

[font-size-20] {
    font-size: 20px !important;
}

[c-bg-grey] {
    background-color: grey;
}

[c-bg-EDEDED] {
    background-color: #EDEDED;
}

.tabbar,
.tabs-ios,
.tabs-md,
.tabs-wp {
    .tab-button-icon {
        background-repeat: no-repeat;
        background-position: center;
        height: 24px;
        width: 24px;
        min-width: 35px;
        margin-top: 4px;
        margin-bottom: 1px;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display: none;
        }
    }
}

.tabs-ios {
    a[aria-selected=false] {
        .tab-button-icon[ng-reflect-name=noticeboard],
        .tab-button-icon[aria-label="noticeboard outline"] {
            background-image: url(../assets/icon/tabicons/noticeboard.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=meetings],
        .tab-button-icon[aria-label="meetings outline"] {
            background-image: url(../assets/icon/tabicons/meetings.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=survey],
        .tab-button-icon[aria-label="survey outline"] {
            background-image: url(../assets/icon/tabicons/survey.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=forum],
        .tab-button-icon[aria-label="forum outline"] {
            background-image: url(../assets/icon/tabicons/forum.png);
            image-rendering: -webkit-optimize-contrast;
        }
    }
    a[aria-selected=true] {
        //führ eventuellen text
        //span {
        //color: #f00; //whatever colour you want to use for the text
        //}
        .tab-button-icon[ng-reflect-name=noticeboard],
        .tab-button-icon[aria-label=noticeboard] {
            background-image: url(../assets/icon/tabicons/noticeboard_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=meetings],
        .tab-button-icon[aria-label=meetings] {
            background-image: url(../assets/icon/tabicons/meetings_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=survey],
        .tab-button-icon[aria-label=survey] {
            background-image: url(../assets/icon/tabicons/survey_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=forum],
        .tab-button-icon[aria-label=forum] {
            background-image: url(../assets/icon/tabicons/forum_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
    }
}

.tabs-md {
    a[aria-selected=false] {
        .tab-button-icon[ng-reflect-name=noticeboard],
        .tab-button-icon[aria-label="noticeboard"] {
            background-image: url(../assets/icon/tabicons/noticeboard.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=meetings],
        .tab-button-icon[aria-label=meetings] {
            background-image: url(../assets/icon/tabicons/meetings.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=survey],
        .tab-button-icon[aria-label=survey] {
            background-image: url(../assets/icon/tabicons/survey.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=forum],
        .tab-button-icon[aria-label=forum] {
            background-image: url(../assets/icon/tabicons/forum.png);
            image-rendering: -webkit-optimize-contrast;
        }
    }
    a[aria-selected=true] {
        //führ eventuellen text
        //span {
        //color: #f00; //whatever colour you want to use for the text
        //}
        .tab-button-icon[ng-reflect-name=noticeboard],
        .tab-button-icon[aria-label=noticeboard] {
            background-image: url(../assets/icon/tabicons/noticeboard_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=meetings],
        .tab-button-icon[aria-label=meetings] {
            background-image: url(../assets/icon/tabicons/meetings_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=survey],
        .tab-button-icon[aria-label=survey] {
            background-image: url(../assets/icon/tabicons/survey_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=forum],
        .tab-button-icon[aria-label=forum] {
            background-image: url(../assets/icon/tabicons/forum_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
    }
}

.tabs-wp {
    a[aria-selected=false] {
        .tab-button-icon[ng-reflect-name=noticeboard],
        .tab-button-icon[aria-label="noticeboard"] {
            background-image: url(../assets/icon/tabicons/noticeboard.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=meetings],
        .tab-button-icon[aria-label=meetings] {
            background-image: url(../assets/icon/tabicons/meetings.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=survey],
        .tab-button-icon[aria-label=survey] {
            background-image: url(../assets/icon/tabicons/survey.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=forum],
        .tab-button-icon[aria-label=forum] {
            background-image: url(../assets/icon/tabicons/forum.png);
            image-rendering: -webkit-optimize-contrast;
        }
    }
    a[aria-selected=true] {
        //führ eventuellen text
        //span {
        //color: #f00; //whatever colour you want to use for the text
        //}
        .tab-button-icon[ng-reflect-name=noticeboard],
        .tab-button-icon[aria-label=noticeboard] {
            background-image: url(../assets/icon/tabicons/noticeboard_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=meetings],
        .tab-button-icon[aria-label=meetings] {
            background-image: url(../assets/icon/tabicons/meetings_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=survey],
        .tab-button-icon[aria-label=survey] {
            background-image: url(../assets/icon/tabicons/survey_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
        .tab-button-icon[ng-reflect-name=forum],
        .tab-button-icon[aria-label=forum] {
            background-image: url(../assets/icon/tabicons/forum_selected.png);
            image-rendering: -webkit-optimize-contrast;
        }
    }
}

.tabs .tab-button-icon {
    transform: none !important;
}

.label-icons-time {
    height: 18px;
    max-width: 18px;
    vertical-align: middle;
}

.label-icons-menu {
    height: 18px;
    max-width: 18px;
}

.label-icons-menu-home {
    width: 20px;
    max-width: 22px;
}

.label-icons-file {
    height: 20px;
    width: 16px;
    max-width: 16px;
    vertical-align: middle;
}

.label-icons-poll {
    height: 20px;
    width: 20px;
    max-width: 20px;
    vertical-align: middle;
}

.label-icons-venue {
    height: 22px;
    max-width: 22px;
    vertical-align: middle;
}

.label-icons-venue-2 {
    height: 22px;
    max-width: 16px;
    vertical-align: middle;
}

.label-icons-live-stream {
    height: 12px;
    max-width: 16px;
    vertical-align: middle;
}

.label-icons-live-summary {
    height: 18px;
    max-width: 18px;
    vertical-align: text-top;
}

.tabs .tab-button {
    padding-top: 10px !important;
}

[c-box-shadow-none] {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

[border-bottom-ee] {
    border-bottom: 1px solid #eeeeee;
}

[c-height-90] {
    height: 90% !important;
    max-height: 100%;
}

body.keyboard-is-open .hideElementOnKeyboardShown {
    display: none;
}


/* .loading-ios {
    .my-loading-class {
        top: 44px;
        bottom: 70px;
    }
} */

.loading-ios.my-loading-class {
    top: 64px;
    bottom: 70px;
}

.loading-md.my-loading-class {
    top: 56px;
    bottom: 69px;
}

.loading-ios.my-loading-class2 {
    top: 0;
    bottom: 0;
}

.loading-md.my-loading-class2 {
    top: 0;
    bottom: 0;
}

.loading-ios.my-loading-class3 {
    top: 64px;
    bottom: 0;
}

.loading-md.my-loading-class3 {
    top: 56px;
    bottom: 0;
}

.loading-ios.my-loading-class4 {
    top: 64px;
    bottom: 70px;
    .loading-wrapper {
        background: rgba(250, 250, 250, 0.6) !important;
    }
}

.loading-md.my-loading-class4 {
    top: 56px;
    bottom: 69px;
    .loading-wrapper {
        background: rgba(250, 250, 250, 0.6) !important;
    }
}

.time-img-div {
    width: 20px;
    vertical-align: middle;
}

.time-img-div-2 {
    width: 20px;
}

.time-img-div-3 {
    width: 20px;
    vertical-align: top;
}

.time-text-div {
    width: calc(100% - 26px);
}

[c-vertical-align-top] {
    vertical-align: top !important;
}

.like-cmmnt-txt {
    color: #828282 !important;
    font-weight: bolder !important;
}

.toolbar .toolbar-title {
    font-weight: normal !important;
    font-size: 16px !important;
}

.custom-footer {
    position: fixed;
    bottom: 0;
    width: 100% !important;
}

.small-spinner {
    position: absolute;
    top: 0;
    height: 45px;
    width: 40px;
    right: 3px;
}

[poll-box-shadow] {
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 14px -2px rgba(0, 0, 0, 0.2), 0 1px 9px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 14px -2px rgba(0, 0, 0, 0.2), 0 1px 9px 0 rgba(0, 0, 0, 0.12);
}

.toolbar-ios ion-title {
    padding: 0 70px 1px;
}