<ion-header>
  <ion-navbar>
    <ion-title>近期會議 | Upcoming Meeting</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item no-lines background-size [ngStyle]="{'background-image': 'url(' + meeting_details.meeting_background + ')'}">
  </ion-item>

  <ion-grid no-padding>
    <ion-row>
      <!--Parallax Rateing-->
      <ion-col col-12>
        <ion-item no-lines header-bcg no-padding>
          <h1 parallax-title text-center margin-bottom padding-vertical>{{meeting_details.meeting_titleChn}} | {{meeting_details.meeting_title}} </h1>
        </ion-item>
      </ion-col>
      <!--Content-->
      <ion-col col-12>
        <!--Info-->
        <ion-item color-1d1d26 no-lines no-margin text-wrap padding-right>
          <ion-label>
            <ion-row>
              <ion-col col-12 no-padding>
                <span left>
                  <ion-icon>
                    <img src="./assets/images/icons/date_time.png" class="label-icons-time" alt="">&nbsp;
                  </ion-icon>
                  Meeting Time : {{meeting_details.meeting_startTime}} - {{meeting_details.meeting_endTime}}&nbsp;</span>
                <span c-display-inline-block>&nbsp;</span>
              </ion-col>
              <ion-col col-12 no-padding>
                <span left>Venue : {{meeting_details.meeting_venue}}</span>
              </ion-col>
              <ion-col col-12 no-padding>
                <span left>Live stream :&nbsp;</span>
                <span c-display-inline-block>
                  <a (click)="openMeetingURL()">Meeting URL</a>
                </span>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <!-- Description-->
        <ion-item color-1d1d26 no-lines text-wrap no-margin padding-right>
          <ion-label no-margin>
            <h3 parallax-description>{{meeting_details.meeting_desc}}</h3>
          </ion-label>
        </ion-item>
        <ion-item color-1d1d26 no-lines text-wrap no-margin padding-right>
          <ion-label margin-bottom>
            <div info>
              <span left>
                <ion-icon>
                  <img src="./assets/images/icons/document.png" class="label-icons-file" alt="">&nbsp;
                </ion-icon>
                Agenda :&nbsp;</span>
              <span c-display-inline-block>
                <a (click)="openAgendaFile(meeting_details.meeting_fileLinks[0])"> {{meeting_details.meeting_fileLinks[0].name}}</a>
              </span>
            </div>
            <div info>
              <span left>
                <ion-icon>
                  <img src="./assets/images/icons/date_time.png" class="label-icons-time" alt="">&nbsp;
                </ion-icon>
                Vote by : {{meeting_details.meeting_pollEndTime}}</span>
            </div>
          </ion-label>
        </ion-item>
        <ion-item color-1d1d26 no-padding text-wrap padding-bottom no-lines *ngIf="!is_license_accepted">
          <ion-label padding no-margin>
            <ion-card c-width-100 no-margin (click)="openViewPoll()">
              <ion-card-content text-center margin>
                <h3 color-1d1d26 no-margin c-font-bold>View Polls</h3>
              </ion-card-content>
            </ion-card>
          </ion-label>
        </ion-item>
        <ion-item color-1d1d26 text-wrap no-padding *ngIf="is_license_accepted">
          <ion-label no-margin padding-5px>
            <ion-list>
              <ul no-margin no-padding class="collapsible">
                <li no-margin padding-bottom *ngFor="let poll_details of poll_list;">
                  <ion-card>
                    <!-- Expandable Centered with header Header-->
                    <div class="collapsible-header" no-margin no-padding (click)="expandPoll(poll_details)">
                      <ion-item no-padding text-center text-wrap no-lines text-center>
                        <h3 color-1d1d26 no-margin c-font-bold>
                          {{poll_details.pollNameChn}} | {{poll_details.pollName}}
                          <img src="./assets/images/icons/poll.png" c-display-inline-block class="label-icons-poll" alt="">
                        </h3>
                        <ion-icon name="md-checkmark" class="check-mark-style" item-end *ngIf="poll_details.is_complete">
                        </ion-icon>
                      </ion-item>
                    </div>
                    <!-- Expandable Centered with header Body -->
                    <div class="item-accordion" [ngClass]="{'active': isGroupShown(poll_details) }" [hidden]="!isGroupShown(poll_details)">
                      <ion-card no-margin c-width-100 border-top-e7>
                        <ion-item color-1d1d26 text-wrap padding-5px text-wrap>
                          <ion-label no-margin>
                            <h2 color-1d1d26 class="summary-title">Summary</h2>
                            <h5 color-1d1d26 class="summary-desc">{{poll_details.summaryChn}} | {{poll_details.summary}} </h5>
                          </ion-label>
                        </ion-item>
                      </ion-card>
                      <ion-card no-margin c-width-100 border-top-e7>
                        <ion-item color-1d1d26 text-wrap padding-5px text-wrap>
                          <ion-label no-margin>
                            <h2 color-1d1d26 class="summary-title">Documents
                              <img src="./assets/images/icons/document.png" c-display-inline-block class="label-icons-file" alt="">&nbsp;
                            </h2>
                            <a *ngFor="let documents of poll_details.fileLinks;" (click)="openAgendaFile(documents)">
                              {{documents.name}}
                            </a>
                          </ion-label>
                        </ion-item>
                      </ion-card>
                      <ion-card no-margin c-width-100 border-top-e7>
                        <ion-item color-1d1d26 text-wrap padding-5px text-wrap>
                          <ion-label no-margin>
                            <h2 color-1d1d26 class="summary-title">Poll Options</h2>
                            <div margin>
                              <ion-card no-margin c-width-100 class="margin-top-10" *ngFor="let option_details of poll_details.options;" (click)="getHKIDByOption(poll_details, 1, option_details)">
                                <ion-item text-wrap no-padding>
                                  <h5 color-1d1d26 text-center> {{option_details}}</h5>
                                </ion-item>
                              </ion-card>
                            </div>
                          </ion-label>
                        </ion-item>
                      </ion-card>
                    </div>
                  </ion-card>
                </li>
              </ul>
            </ion-list>
          </ion-label>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>