<ion-header>
  <ion-navbar>
    <ion-title>Past Meeting</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item no-lines background-size [ngStyle]="{'background-image': 'url(' + meeting_details.meeting_background + ')'}">
  </ion-item>

  <ion-grid no-padding>
    <ion-row>
      <!--Parallax Rateing-->
      <ion-col col-12>
        <ion-item no-lines header-bcg no-padding>
          <h1 parallax-title text-center margin-bottom padding-vertical>{{meeting_details.meeting_title}}</h1>
        </ion-item>
      </ion-col>
      <!--Content-->
      <ion-col col-12>
        <!--Info-->
        <ion-item no-lines no-margin padding-right>
          <ion-label>
            <div info>
              <span left>Meeting Time : </span>
              <p>&nbsp;</p>
            </div>
            <div info>
              <span left>Venue : </span>
              <p>&nbsp;</p>
            </div>
          </ion-label>
        </ion-item>
        <!-- Description-->
        <ion-item no-lines text-wrap no-margin padding-right>
          <ion-label no-margin>
            <h3 parallax-description>{{meeting_details.meeting_desc}}</h3>
            <h3 parallax-description>{{meeting_details.meeting_desc}}</h3>
            <h3 parallax-description>{{meeting_details.meeting_desc}}</h3>
            <h3 parallax-description no-margin>{{meeting_details.meeting_desc}}</h3>
          </ion-label>
        </ion-item>
        <ion-item no-lines no-margin padding-right>
          <ion-label margin-bottom>
            <div info>
              <span left>Agenda : </span>
              <p>&nbsp;</p>
            </div>
            <div info>
              <span left>Vote by : </span>
              <p>&nbsp;</p>
            </div>
          </ion-label>
        </ion-item>
        <ion-item no-padding>
          <ion-label no-margin padding-5px>
            <ion-list>
              <ul no-margin no-padding class="collapsible">
                <li no-margin padding-bottom *ngFor="let poll_details of poll_list;">
                  <ion-card>
                    <!-- Expandable Centered with header Header-->
                    <div class="collapsible-header" no-margin no-padding (click)="expandPoll(poll_details)">
                      <ion-item no-padding text-center no-lines text-center>
                        <h3 no-margin c-font-bold>{{poll_details.poll_title}}</h3>
                        <h3 no-margin c-font-bold>Final Result : Option 1</h3>
                        <!-- <ion-icon name="md-checkmark" class="check-mark-style" item-end *ngIf="poll_details.is_complete">
                        </ion-icon> -->
                      </ion-item>
                    </div>
                    <!-- Expandable Centered with header Body -->
                    <div class="item-accordion" [ngClass]="{'active': isGroupShown(poll_details) }" [hidden]="!isGroupShown(poll_details)">
                      <ion-card no-margin c-width-100 border-top-e7>
                        <ion-item padding-5px text-wrap>
                          <ion-label no-margin>
                            <h2 class="summary-title">Poll Results</h2>
                            <h3 *ngFor="let option_details of poll_details.option_list;">{{option_details.option_title}} :
                              <span c-font-bold>{{option_details.option_value}}</span>
                            </h3>
                          </ion-label>
                        </ion-item>
                      </ion-card>
                      <ion-card no-margin c-width-100 border-top-e7>
                        <ion-item padding-5px text-wrap>
                          <ion-label no-margin>
                            <h2 class="summary-title">Summary</h2>
                            <h5 class="summary-desc">summary summary summary summary summary summary summary summary summary summary summary summary
                              summary summary summary summary</h5>
                          </ion-label>
                        </ion-item>
                      </ion-card>
                      <ion-card no-margin c-width-100 border-top-e7>
                        <ion-item padding-5px text-wrap>
                          <ion-label no-margin>
                            <h2 class="summary-title">Documents</h2>
                            <a>Document1.pdf</a>
                            <a>Document1.pdf</a>
                          </ion-label>
                        </ion-item>
                      </ion-card>
                    </div>
                  </ion-card>
                </li>
              </ul>
            </ion-list>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>