<ion-header>
  <ion-navbar>
    <ion-title>
      <!-- <p no-margin>{{meeting_details.meeting_titleChn}}</p>
      <p no-margin>{{meeting_details.meeting_title}}</p> -->
      <p>大會詳情 | Meeting Details</p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content white-background>
  <!-- <ion-item no-lines background-size [ngStyle]="{'background-image': 'url(' + meeting_details.meeting_background + ')'}"> -->
  <!-- <ion-item no-lines background-size>
  </ion-item> -->

  <ion-grid no-padding>
    <ion-row>
      <!--Content-->
      <ion-col col-12>
        <!--Info-->
        <ion-item color-1d1d26 no-lines no-margin text-wrap padding-right>
          <ion-label>
            <div>
              <span left>
                <ion-icon>
                  <img src="./assets/images/icons/date_time.png" class="label-icons-time" alt="">&nbsp;
                </ion-icon>
                <span c-font-w-600>大會時間 | Meeting time :</span> {{meeting_details.meeting_startTime}} — {{meeting_details.meeting_endTime}}</span>
            </div>
            <div>
              <span left>
                <ion-icon>
                  <img src="./assets/images/icons/venue.png" class="label-icons-venue" alt="">&nbsp;
                </ion-icon>
                <span c-font-w-600>地點 | Venue :</span> {{meeting_details.meeting_venue}}</span>
            </div>
          </ion-label>
        </ion-item>
        <!-- Description-->
        <ion-item color-1d1d26 no-lines text-wrap no-margin padding-right>
          <ion-label no-margin>
            <div c-display-inline-block class="time-img-div-3">
              <img src="./assets/images/icons/summary.png" class="label-icons-live-summary" alt="">&nbsp;
            </div>
            <div c-display-inline-block class="time-text-div">
              <div c-font-w-600>概要 | Summary</div>
              <div>{{meeting_details.meeting_desc}}</div>
            </div>
          </ion-label>
        </ion-item>
        <ion-item color-1d1d26 no-lines text-wrap no-margin padding-right>
          <ion-label no-margin padding-top>
            <div>
              <div c-display-inline-block class="time-img-div-2">
                <img src="./assets/images/icons/document.png" class="label-icons-file" alt="">&nbsp;
              </div>
              <div c-display-inline-block class="time-text-div">
                <div c-font-w-600>投票報告 | Poll Report : </div>
                <div>
                  <a (click)="openPollReportFile(meeting_details.pollReport[0])"> 投票報告 | Poll Report</a>
                </div>
              </div>
            </div>
            <div>
              <span left>
                <ion-icon>
                  <img src="./assets/images/icons/date_time.png" class="label-icons-time" alt="">&nbsp;
                </ion-icon>
                <span c-font-w-600>投票截止日期 | Poll Deadline :</span> {{meeting_details.meeting_pollEndTime}}</span>
            </div>
          </ion-label>
        </ion-item>
        <ion-item color-1d1d26 text-wrap no-padding>
          <ion-label no-margin padding-5px>
            <div padding-5px>
              <span left padding-5px padding-bottom>
                <ion-icon>
                  <img src="./assets/images/icons/poll.png" class="label-icons-poll" alt="">&nbsp;
                </ion-icon>
                <span c-font-w-600> 議案 | Polls </span>
              </span>
            </div>
            <ion-list>
              <ul no-margin no-padding class="collapsible">
                <li no-margin padding-bottom *ngFor="let poll_details of meeting_details.meeting_polls;">
                  <ion-card poll-box-shadow>
                    <!-- Expandable Centered with header Header-->
                    <div class="collapsible-header" no-margin no-padding (click)="expandPoll(poll_details)">
                      <ion-item color-1d1d26 no-padding text-center no-lines text-wrap text-center>
                        <h3 no-margin c-font-bold>{{poll_details.pollNameChn}}</h3>
                        <h3 c-font-bold margin-bottom>{{poll_details.pollName}}</h3>
                        <h3 no-margin c-font-bold>Final Result : {{poll_details.finalResult}}</h3>
                        <!-- <ion-icon name="md-checkmark" class="check-mark-style" item-end *ngIf="poll_details.is_complete">
                        </ion-icon> -->
                      </ion-item>
                    </div>
                    <!-- Expandable Centered with header Body -->
                    <div class="item-accordion" [ngClass]="{'active': isGroupShown(poll_details) }" [hidden]="!isGroupShown(poll_details)">
                      <ion-card no-margin c-width-100 border-top-e7>
                        <ion-item color-1d1d26 padding-5px text-wrap>
                          <ion-label no-margin>
                            <h2 color-1d1d26 class="summary-title">
                              <img src="./assets/images/icons/poll.png" c-display-inline-block class="label-icons-poll" alt=""> Poll Results</h2>
                            <h3 color-1d1d26 *ngFor="let result_details of poll_details.results;">{{result_details.choice}} :
                              <span color-1d1d26 c-font-bold>{{result_details.percentage}}%</span>
                            </h3>
                          </ion-label>
                        </ion-item>
                      </ion-card>
                      <ion-card no-margin c-width-100 border-top-e7>
                        <ion-item color-1d1d26 padding-5px text-wrap>
                          <ion-label no-margin>
                            <h2 color-1d1d26 class="summary-title">
                              <span>
                                <img src="./assets/images/icons/summary.png" c-display-inline-block class="label-icons-live-summary" alt=""> 概要 | Summary
                              </span>
                            </h2>
                            <h5 color-1d1d26 class="summary-desc">{{poll_details.summaryChn}}</h5>
                            <h5 color-1d1d26 class="summary-desc">{{poll_details.summary}} </h5>
                          </ion-label>
                        </ion-item>
                      </ion-card>
                      <ion-card no-margin c-width-100 border-top-e7>
                        <ion-item color-1d1d26 padding-5px text-wrap>
                          <ion-label no-margin>
                            <h2 color-1d1d26 class="summary-title">
                              <img src="./assets/images/icons/document.png" c-display-inline-block class="label-icons-file" alt=""> &nbsp;Documents
                            </h2>
                            <a *ngFor="let documents of poll_details.fileLinks; let i=index;" (click)="openAgendaFile(documents)">
                              {{i+1}}. {{documents.name}}
                            </a>
                          </ion-label>
                        </ion-item>
                      </ion-card>
                    </div>
                  </ion-card>
                </li>
              </ul>
            </ion-list>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>