page-view-past-meeting-details {
    [background-size] {
        height: 250px;
        position: relative;
        z-index: 999;
        @include darkening-blend-mode;
        &::before {
            background: #161616 !important;
        }
    }
    ion-thumbnail img {
        border-radius: 50%;
        margin: 0 auto 10px;
        z-index: 5;
        position: relative;
    }
    [parallax-title] {
        z-index: 5;
        position: relative;
    }
    [parallax-description] {
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
    [info] {
        margin-bottom: 5px;
        display: block;
        >[item-subtitle]:nth-child(1) {
            font-weight: bold !important;
            line-height: 18px;
        }
        span {
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 20px;
            margin-right: 5px;
        }
        p {
            font-size: 12px;
        }
    }
    [header-bcg] {
        .item-inner {
            padding: 0 !important;
            text-align: center;
        }
        .label-md {
            margin: 25px 8px 10px 0;
        }
    }
    .item-inner {
        padding: 0 !important;
    }
    ul>li:last-child ion-item:before {
        border-bottom: 1px solid transparent !important;
    }
    li {
        list-style: none;
    }
    ion-list-header {
        &[background-size] {
            height: 200px;
            width: 100%;
        }
        [item-title] {
            z-index: 5;
            position: relative;
        }
    }
    .item-accordion {
        height: 0;
        /* @include gradient-accent ($color-1, $color-2); */
        display: block !important;
        -webkit-transition: all 300ms;
        transition: all 300ms;
        overflow: hidden;
        &.active {
            -webkit-transition: all 300ms;
            transition: all 300ms;
            height: auto !important;
        }
    }
    .collapsible-header {
        background-color: #efefef;
        .item-md.item-block .item-inner {
            padding-right: 0 !important;
        }
        ion-icon {
            display: block;
            text-align: center;
        }
    }
    [under-line] {
        text-decoration: underline;
    }
    .item p {
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .summary-title {
        font-weight: 600;
        margin: 8px 0 !important;
    }
    .summary-desc {
        margin-bottom: 15px !important;
    }
    .check-mark-style {
        color: #69BB7B;
    }
    .toolbar .toolbar-title {
        font-weight: normal;
        /* font-size: 12px !important; */
    }
    .item.item-block .item-inner {
        border: 0 !important;
    }
    .collapsible-header {
        padding: 0px 16px;
        background-color: #fff;
    }
}