<ion-content class="main-view">
  <div class="overlay" (click)="dismiss()"></div>
  <div class="modal_content">
    <ion-row class="modal_inner_content">
      <ion-col col-12>
        <p class="agree-title" no-margin text-center>Proxy Agreement</p>
        <p class="agree-title" no-margin text-center>委任代表協議</p>
        <p>Please read this PROXY FORM (this “Agreement”) carefully before clicking the “Accept” button. By clicking the “Accept”
          button, you are entering into and agreeing to be bound by the terms of this Agreement.</p>
        <p no-margin>請在點擊“接受”按鈕之前仔細閱讀此委任代表協議（本“協議”）。通過點擊“接受”按鈕，即表示您同意接受本協議條款的約束。</p>
      </ion-col>
      <ion-col col-12>
        <p no-margin>If you do not agree to the terms of this Agreement, do not click the “Accept” button.</p>
        <p no-margin>如果您不同意本協議的條款，請不要點擊“接受”按鈕。</p>
      </ion-col>
      <ion-col col-12>
        <p no-margin>Meeting of the owners of
          <span c-font-w-600>{{loginResponse.user.estateName}}</span>
        </p>
      </ion-col>
      <ion-col col-12>
        <p no-margin>
          I/We, {{loginResponse.user.name}}, being the owner(s) of {{loginResponse.user.unit}}, hereby appoint
          <span c-font-w-600>
            <span *ngIf="meeting_details.firstProxy">{{meeting_details.firstProxy}}</span>
            <span *ngIf="!meeting_details.firstProxy">Ma, Chung Sing</span> *[or failing him
            <span *ngIf="meeting_details.secondProxy">{{meeting_details.secondProxy}}</span>
            <span *ngIf="!meeting_details.secondProxy">Ho, Justin Yue-chai</span>],
          </span> as my/our proxy to attend and vote on my/our behalf at the meeting of the owners of the building described
          above, to be held at
          <span c-font-w-600>{{meeting_details.meeting_venue}}</span> on
          <span c-font-w-600>{{meeting_details.displayDate}}</span> at
          <span c-font-w-600>{{meeting_details.displayTime}}</span> *[and at any adjournment thereof], in respect of the Poll Options I will
          select for each Poll, on the Telos Mobile Application. If I do not fill out all Polls for this meeting, before
          <span c-font-w-600>{{meeting_details.meeting_pollEndTime}}</span>, the appointed proxy shall not pass on any votes on my/our behalf
          at the meeting of the owners of the building described above.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button button-clear-outline round outline class="next-button login-button" color="mytheme" (click)="dismiss()">Decline</button>
      </ion-col>
      <ion-col text-center>
        <button ion-button button-clear-outline round outline class="next-button login-button" color="mytheme" (click)="openAgeeUseCompany()">Accept</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>