page-change-password-page {
    [button-clear] {
        color: theme-colors('textColors', 'accent-first') !important;
        font-weight: 300;
    }
    .next-button {
        width: 85%;
        /* padding-top: 20px !important;
        padding-bottom: 20px !important; */
    }
    .agree-title {
        font-size: 16px;
        font-weight: 600;
    }
    .modal_content {
        position: absolute;
        top: calc(40% - (50%/2));
        left: 0;
        right: 0;
        width: 90%;
        height: 70%;
        min-height: 400px !important;
    }
    .modal_inner_content {
        max-height: 80%;
        height: 80%;
        overflow: auto;
    }
}